# Build and bin
*.class
bin/
build/
target/

# IDE files
.settings/
.metadata/
.project
.classpath
.idea/
*.iml

# System files
.DS_Store
Thumbs.db

# log library
*.log

# db.properties ( store database url, user, password ) 
src/main/resources/db.properties